--extra-index-url https://download.pytorch.org/whl/cpu

numpy>=2.0,<3.0
pandas>=2.0,<4.0
matplotlib>=3.7,<4.0
seaborn>=0.12,<1.0
torch
flask>=3.0,<4.0
gunicorn>=21.0,<23.0
psutil>=5.9,<7.0
requests>=2.31,<3.0
